@charset "utf-8";
//导航
nav{
  height: 40px;
  background: #61ffda;
  ul{
    width: 700px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    li{
      float: left;
      width: 100px;
      height: 40px;
      border-right: #31a0fe 1px solid;
      line-height: 40px;
      text-align: center;
      letter-spacing: 2px;
      font-size: 20px;
      font-family: 隶书;
      a{
        display: inline-block;
        width: 100px;
        height: 40px;
        color: #333333;
      }
      &:nth-child(3){
        width: 200px;
        letter-spacing: 0px;
        a{
          width: 200px;
          height: 40px;
        }
      }
      &:nth-child(6){
        width: 50px;
        border: none;
        font-size: 14px;
        a{
          width: 50px;
          height: 40px;
        }
      }
    }
    .nav_li_hover{
      background: rgba(244,67,126,0.93);
      a{
        color: #FFFFFF;
      }

    }
  }
}