@import "public.css";
@charset "utf-8";
body{
  background: url("../images/scream.jpg") no-repeat;
  background-size: 100%;
  position: relative;
}
.login{
  width: 320px;
  height: 208px;
  background: #FFFFFF;
  position: absolute;
  top:160px;
  left: 900px;
  border-radius: 6px;
  h3{
    padding-top: 20px;
    margin-left: 120px;
    padding-bottom: 10px;
  }
  input[type=text],input[type=password]{
    height: 28px;
    width: 200px;
    margin-left: 10px;
    border: none;
    outline:none;
    cursor: pointer
  }
  .username,.password{
    width: 280px;
    height: 32px;
    border-bottom: #cccccc 1px solid;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 32px;
  }
  .remember{
    margin-top: 30px;
    margin-left: 20px;
    a{
      color: #333333;
      &:hover{
        color: #ff2c2f;
        text-decoration: underline;
      }
    }
    span{
      &:nth-child(2){
        float: right;
        margin-right: 20px;
      }

    }
  }
  .next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #61ffda;
    position: absolute;
    top: 100px;
    left: 300px;
    img{
      margin-left:6px;
      margin-top: 6px;
      filter: grayscale(80%);
    }
    &:hover{
      background: #cccccc;
      img{
        filter: grayscale(0%);
      }
    }
  }
}

