*{
  margin:0;
  padding:0;
}
table{
  border: none;
  border-collapse: collapse;
}
img{
  border:none;
}
.scroll_left{
  width: 300px;
  height: 300px;
  margin-left: 200px;
  margin-top: 60px;
  overflow: hidden;
  border: #61ffda 1px solid;
  .scroll_left_one{
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
}
.scroll_top {
  width: 300px;
  height: 300px;
  margin-left: 600px;
  margin-top: -300px;
  overflow: hidden;
  border: #61ffda 1px solid;
  .scroll_top_one table{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: none;
    border-collapse: collapse;
    tr{
      border: #ff2c2f 1px solid;
    }
  }

}